html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #000;
}

header {
  border-bottom: 0.2rem solid #000;
}

nav {
  text-align: right;
}

nav a {
  font-size: 1.8rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

footer {
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 0.2rem solid #000;
  font-size: 1.2rem;
  color: #555;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

article .header {
  font-size: 1.4rem;
  font-style: italic;
  color: #555;
}

.logo a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

@media (max-width: 319px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: block;
    line-height: 1.6;
  }
}

@media (min-width: 320px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: inline;
    margin: 0 0.6rem;
  }
}

@media (min-width: 640px) {
  body {
    width: 75rem;
    margin: 0 auto;
    padding: 0;
  }
  header {
    margin: 0 0 3rem;
    padding: 1.2rem 0;
  }
  nav {
    margin: 0;
    text-align: right;
  }
  nav a {
    margin: 0 0 0 1.2rem;
    display: inline;
  }
  footer {
    text-align: right;
  }
  .logo {
    margin: 0;
    text-align: left;
  }
  .logo a {
    float: left;
    font-size: 1.8rem;
  }
}

blockquote p::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 4px;
  border-radius: 8px;
  background: #c8ccd0;
  }
blockquote{
  color:#535a60;
  padding:.8em .8em .8em 1em;
  position: relative;
}

.smallcaps {
	text-transform: lowercase;
	font-variant: small-caps;
	-moz-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
}

table {
  border-collapse: separate;
  border-spacing: 0;
  margin: auto;
  border: 1px solid black;
  overflow: hidden;
}

thead th {
  background-color: lightgray;
  color: black;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding: 5px
}

thead th:not(:last-child) {
  border-right: 1px solid black;
}

tbody td {
  padding: 10px 10px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

tbody td:last-child {
  border-right: none;
}

tbody tr:last-child td {
  border-bottom: none;
}

pre {
    display: block;
    margin: 15px 0;
    padding: 10px 15px;
    border-left: 4px solid #4caf50;
    background: #f5f2f0;
    font-size: 15px;
    white-space: normal;
    overflow-x: auto;
}

pre:hover {
  border-left: 4px solid #5CD460;
}

code:not(pre code) {
    border: .5px solid #1f1e1d40;
    border-radius: .3rem;
    padding: 1px 3px;
    white-space: pre-wrap;
    font-size: smaller;
    background-color: #3d3d3a0d;
    color: #8a2424;
}

pre code {
  white-space: pre-wrap;
}

/*
=====================================================================
=                            Glossing rules                         =
= https://github.com/parryc/interlinear/blob/master/interlinear.css =
=                 MIT License: https://parryc.mit-license.org       =
=====================================================================
*/

.clearfix {
	clear: both;
}

.formatted-gloss {
	clear: both;
  background-color: lightgoldenrodyellow;
  padding: 1%;
}

.gloss-error {
	color: red;
}

.gloss-label ~ .gloss-full {
	margin-left: 40px; /* This is the same width as the label plus segment margin */
}

/* This is the generalized css for when a title is used */
.gloss-label ~ .gloss-full ~ .gloss-segment {
	margin-left: 40px;
}

.gloss-segment + .gloss-segment {
	margin-left: 0px !important;
}

.gloss-label {
	width: 30px;
}

.gloss-full > .gloss-row1{
	margin-right: 15px;
}

.gloss-label a {
	text-decoration: none;
}

.gloss-merged {
	margin-left: -25px;
}

.gloss-segment {
	float: left;
	margin-right: 10px;
}


.morpheme {
	text-transform: lowercase;
	font-variant: small-caps;
	-moz-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
}

.morpheme-fake-caps {
	font-size: .7em;
	text-transform: uppercase;
}

/*
Row Classes
*/
.citation {
  font-weight: bold;
}

.source {
	font-style: normal;
}

.translation {
	font-style: normal;
}

br + .gloss-row {
  clear: both
}
